USE [master]
GO
/****** Object:  Database [dbProdukter]    Script Date: 11/25/2014 11:14:58 ******/
CREATE DATABASE [dbProdukter] ON  PRIMARY 
( NAME = N'dbProdukter', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\dbProdukter.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbProdukter_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\dbProdukter_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbProdukter].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbProdukter]
GO
/****** Object:  Table [dbo].[tblAargang]    Script Date: 11/25/2014 11:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblAargang](
	[fldAargangID] [int] IDENTITY(1,1) NOT NULL,
	[fk_fldMotorStoerelseID] [int] NOT NULL,
	[fldAargang] [varchar](10) NOT NULL,
 CONSTRAINT [PK_tblAargang] PRIMARY KEY CLUSTERED 
(
	[fldAargangID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblMotorStoerelse]    Script Date: 11/25/2014 11:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblMotorStoerelse](
	[fldMotorStoerelseID] [int] IDENTITY(1,1) NOT NULL,
	[fk_fldModelID] [int] NOT NULL,
	[fldMotorStoerelse] [varchar](150) NOT NULL,
 CONSTRAINT [PK_tblMotorStoerelse] PRIMARY KEY CLUSTERED 
(
	[fldMotorStoerelseID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblModel]    Script Date: 11/25/2014 11:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblModel](
	[fldModelID] [int] IDENTITY(1,1) NOT NULL,
	[fk_fldMaerkeID] [int] NOT NULL,
	[fldModelNavn] [varchar](150) NOT NULL,
 CONSTRAINT [PK_tblModel] PRIMARY KEY CLUSTERED 
(
	[fldModelID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblMaerke]    Script Date: 11/25/2014 11:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblMaerke](
	[fldMaerkeID] [int] IDENTITY(1,1) NOT NULL,
	[fldMaerkeNavn] [varchar](150) NOT NULL,
 CONSTRAINT [PK_tblMaerke] PRIMARY KEY CLUSTERED 
(
	[fldMaerkeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblDel]    Script Date: 11/25/2014 11:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblDel](
	[fldDelID] [int] IDENTITY(1,1) NOT NULL,
	[fk_fldAargangID] [int] NOT NULL,
	[fldDelNavn] [varchar](150) NOT NULL,
	[fldDelTekst] [text] NOT NULL,
	[fldDelBillede] [image] NOT NULL,
	[fldDelAntal] [int] NOT NULL,
	[fldDelPris] [int] NOT NULL,
 CONSTRAINT [PK_tblDel] PRIMARY KEY CLUSTERED 
(
	[fldDelID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
