<?xml version="1.0" encoding="utf-8"?>

<!--
 -  For more information on how to configure your ASP.NET application, please visit
 -  http://go.microsoft.com/fwlink/?LinkId=169433
 -  -->

<configuration>
 <configSections>
    <section name="urlrewritingnet"
   restartOnExternalChanges="true"
    requirePermission ="false"
   type="UrlRewritingNet.Configuration.UrlRewriteSection,
  UrlRewritingNet.UrlRewriter" />

   <!--<section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />-->

  </configSections>
 <urlrewritingnet
   xmlns="http://www.urlrewriting.net/schemas/config/2006/07" >

  </urlrewritingnet>

 <system.web>
  <compilation debug="true" targetFramework="4.5" />
  <httpRuntime targetFramework="4.5" />


   <sessionState timeout="60"></sessionState>

   <customErrors mode="Off" defaultRedirect="Error.aspx">
  <error statusCode="404" redirect="404.aspx" />

    </customErrors>
  
  </system.web>

  <appSettings>
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"></add>

  </appSettings>

    <connectionStrings>
        <add name="dbconnect" connectionString="Data Source=********;Initial Catalog=********; User ID=********;Password=********;" />
    
        <!--<add name="dbconnect" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Kasper\Desktop\Projekter\MR-Salg\App_Data\Database.mdf;Integrated Security=True"/>-->

  </connectionStrings>

</configuration>